<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/Logo_transparente.png" type="image/png">
    <link rel="stylesheet" href='/static/main.css' />
    <title>Casa de Playa Loto</title>
    <link rel="shortcut icon" href="/Logo_Transparente.png">
</head>
<body>

    <ul>
        <li><a href="main_page.html">Pagina Principal</a></li>
        <li><a href="news.asp">Noticias</a></li>
        <li><a href="contact.asp">Contacto</a></li>
        <li><a href="about.asp">Reservas</a></li>
    </ul>

</body>
</html>